<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
 <section class="aboutus--main">
  <h2>About Us</h2>
  <div class="aboutus--imgdiv">
    <img src="../images/about_us.jpg" alt="" class="aboutus--img" />
    <div class="aboutus--content">
      <p class="aboutus--content">
        Industrial Supplies Co. is a Canadian distributor of temperature resistant refractories to the toughest steel making applications. Our global supplier network has delivered over 30,000 tons of refractories to steel makers in 5 continents.

        ISO 9002 certified, our partners manufacture the firebrick critical in lining the furnaces supporting steel making in both hot and cold rolled applications in North America.
        
        Our customers consistently achieve 10-15% more melts out of their refractories. Our bricks have High C%, with better corrosion and cracking resistance. Our engineering group also develop monolithics for customer-specific steel making applications.
      </p>
      <button class="btn">Contct Us</button>
    </div>
  </div>
 </section>
</body>
</html>
<!-- <section class="container">
  <h2>About Us</h2>
  
  <div class="column">
    <img src="../images/about_us.jpg" alt="" class="aboutus--img" />
    <div >
      <p class="aboutus--content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        dolorem sint unde fugiat eveniet iste quae minima numquam asperiores
        beatae.
      </p>
      <button class="btn">Contct Us</button>
    </div>
  </div>
</section>   -->