<section class="features">
    <span class="feature--span">FEATURES</span>
    <h1>Hers's What Make Us Different</h1>
 
<div class="main-feature">
  <div class="feature--card">
   
      <img src="images/fe1.png" alt="dollar image" class="feature--img">
      <p class="feature--span">Competitive cost per ton of refractory consumption.</p>
  </div>
  <div class="feature--card">
   
    <img src="images/fe2.png" alt="dollar image" class="feature--img">
    <p class="feature--span">Used in - EAF, Ladles, RH degasser, Torpedo cars, coke ovens.</p>
</div>
<div class="feature--card grid--span">
   
  <img src="images/fe3.png" alt="dollar image" class="feature--img">
  <p class="feature--span">Corrosion & thermal resistant for imporved cycle count.</p>
</div>
</div>
</section>