<nav class="nav collapsible">
    <a href="/">
      <img src="images/company_logo.png" alt="logo images">
    </a>
    <img src="svg/toggler.svg" alt="toggler image" class="icon icon--white nav__toggler">
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">vps</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
   </nav>