<section class="p--heading">
    <h3 style="display: block;">OUR CLIENTS & PARTNERS</h3>
    <H1 style="display: block;">We Work With Several Partners</H1>
   <div class="slider-1">
   
      <img src="images/slideimg1.png" alt="sliding image" class="slider--img">
 
      <img src="images/slideimg2.png" alt="sliding image"class="slider--img">
   
      <img src="images/slideimg3.png" alt="sliding image" class="slider--img">
    
      <img src="images/slideimg4.jpg" alt="sliding image" class="slider--img">
      <img src="images/slideimg5.png" alt="sliding image" class="slider--img">
      <img src="images/slideimg6.png" alt="sliding image" class="slider--img">
   </div>
  </section>