 <section class="testimonials">
      <div class="testimonial--header">
        <h1>Testimonials</h1>
        <div style="display: flex;justify-content: center;margin-top: 0px;">
        <p
          
          style="
            text-align: center;
            padding-top: 0.8rem;
            background-color: orangered;
            height: 50px;
            width: 50px;
            font-size: 3rem;
            border-radius: 30px;
            margin: 0px;
          "
        >
          <
        </p>
        <p
          
        style="
          text-align: center;
          padding-top: 0.8rem;
          background-color: orangered;
          height: 50px;
          width: 50px;
          font-size: 3rem;
          border-radius: 30px;
          margin: 0px;
        "
      >
        >
      </p>
    </div>
    <div class="quote">
     <img src="svg/quote-svgrepo-com.svg" alt="" class="quote--img">
      <p class="feature--span">
        Altos Hornos de Mexico (AHMSA) hase been working with McKeown International for almost 25 years
        suppling Silica and Fire Clay brick for our Coke Ovens and Blast Furnace.
        Altos Hornos de Mexico (AHMSA) hase been working with McKeown International for almost 25 years
        suppling Silica and Fire Clay brick for our Coke Ovens and Blast Furnace.
        During this period we have purchased approximately 30,000 Tons of ironmaking refractories. We have
        found that the brick quality and supply have met our requirements, while McKeown Technical has been
        exceptional.
      
        <img src="svg/quote-svgrepo-com.svg" alt="" class="quote--img-end">
      </p>
       <h2 style="text-align: center; font-weight: lighter;">-AHMSA</h2>
    </div>
      </div>
    </section>